.uw-button {
    display: inline-block;
    padding: .4rem 1rem;
    border-radius: 3px;
    border: 0 none;
    background: var(--color-button-bg);
    color: var(--color-button-text);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.uw-button:hover {
    background: var(--color-button-bg-hover);
    color: var(--color-button-text-hover);
}

.uw-button.uw-card-style {
    color: red;
}

.uw-button.uw-big {
    font-size: 1.2rem;
    padding: .5rem 1.4rem;
}

