.uw-card {
    display: flex;
    gap: 1rem;
    border: 0 solid var(--uw-color-page-border-strong);
    border-radius: var(--uw-radius);
    overflow: hidden;
    background: var(--uw-color-card);
    color: var(--uw-color-card-text);
    cursor: pointer;
    transition: all 0.2s;
}

.uw-card:hover {
    background: var(--uw-color-card-hover);
    color: var(--uw-color-card-text-hover);
}

.uw-card__placeholder {
    width: 100%;
    height: 100%;
    background: var(--uw-color-card);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--uw-color-card-placeholder);
    font-size: 0.85rem;
}

.uw-card__content {
    flex: 1;
    padding: 0;
    min-width: 0;
}